[default]
user = username
password = 123password
reference = ~/sympy
interpreter = /path/to/python

[full-tests]
interpreter = /path/to/python2.5, /path/to/python3.2

[full-tests-docs]
interpreter = /path/to/python2.5, /path/to/python3.2
build_docs = True

[docs]
build_docs = True
interpreter = None

[slow-tests]
interpreter = /path/to/python2.5, /path/to/python3.2
testcommand = bin/test --slow
