{% extends "base.html" %}

{% block title %}
Pull Requests
{% endblock %}

{% block content %}
<h2>List of Pull Requests</h2>
<p class="timestamp">Last full update {{ last_update_pretty }} |
Last quick update {{ last_quick_update_pretty }}</p>
<p>
This is a list of all pull requests at GitHub. They update automatically: all
pull requests are updated every 2 hours (full update), open pull requests are
updated every 10 minutes (quick update).
</p>
<h3>Mergeable Pullrequests</h3>
<p>
<ul>
{% for p in pullrequests_mergeable %}
    <li><a href="/pullrequest/{{ p.num }}/">#{{ p.num }}</a>
    (author: {{ p.author.name }}, created: {{ p.created_at|date:"r" }},
    title: {{ p.title }})</li>
{% endfor %}
</ul>
</p>

<h3>Non-Mergeable Pullrequests</h3>
<p>
These pull requests have to be rebased first.
<ul>
{% for p in pullrequests_nonmergeable %}
    <li><a href="/pullrequest/{{ p.num }}/">#{{ p.num }}</a>
    (author: {{ p.author.name }}, created: {{ p.created_at|date:"r" }},
    title: {{ p.title }})</li>
{% endfor %}
</ul>
</p>

<h3>Closed Pullrequests</h3>
<p>
Show <a href="/closed_pullrequests/">closed pull requests</a>.
</p>
{% endblock %}
