{% extends "base.html" %}

{% block title %}
SymPy Pull Request
{% endblock %}

{% block content %}
<h2>Pull Request Information</h2>
<p>
    Pull request: #{{ p.num }}</br>
    GitHub URL: <a href="{{ p.url }}">{{ p.url }}</a></br>
    Repository and branch: {{ p.repo }}
        <a href="{{ p.repo }}/commits/{{ p.branch }}">{{ p.branch }}</a></br>
    {% if p.author_name %}
    Author: {{ p.author_name }}
        {% if p.author_email %}
        &lt;{{ p.author_email }}&gt;
        {% endif %}</br>
    {% endif %}
    Mergeable: {{ p.mergeable }}</br>
    Created at: {{ p.created_at|date:"r" }}</br>
</p>

<h2>Tests Summary</h2>
Click on the individual test to get the full report with logs.
<ul>
{% for t in tasks %}
    <li><a href="/report/{{ t.key }}">Test {{ forloop.counter }}</a>
({% if t.result == "Passed" %}<span class="result_ok">Passed</span>,
{% else %}<span class="result_fail">{{ t.result }}</span>,
{% endif %}
    command: <span class="code">{{ t.interpreter }} {{ t.testcommand }}</span>,
    uploaded at: {{ t.uploaded_at }})</li>
{% endfor %}
</ul>

<p><pre>{{ log }}</pre></p>
{% endblock %}
